<!DOCTYPE html>
<html lang="en">

<head>
    <title>Mandarin CV</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" href="./images/icon.ico" type="image/x-icon" />
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,400&display=swap" rel="stylesheet" />
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous" />
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <!-- Css -->
    <link rel="stylesheet" type="text/css" href="./css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css" integrity="sha512-UTNP5BXLIptsaj5WdKFrkFov94lDx+eBvbKyoe1YAfjeRPC+gT5kyZ10kOHCfNZqEui1sxmqvodNUx3KbuYI/A==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
</head>

<body>
    <!-- Header -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <a href="/" class="logo">MANDARIN CV</a>
                        <ul class="nav">
                            <li class="scroll-to-section">
                                <a href="/#home" class="active">Home</a>
                            </li>
                            <li class="scroll-to-section">
                                <a href="/#services">Services</a>
                            </li>
                            <li class="scroll-to-section"><a href="/#about">About</a></li>
                            <li class="scroll-to-section"><a href="/cv">Create CV</a></li>
                        </ul>
                        <a class="menu-trigger">
                            <span>Menu</span>
                        </a>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- / Header -->

    <!-- Home -->
    <div class="home-area" id="home">
        <div class="header-text">
            <div class="container">
                <div class="row">
                    <div class="left-text col-lg-6 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                        <h1>Professional CV for<strong> YOU</strong></h1>
                        <p>
                            Build a professional CV of international standards in 3 easy steps
                        </p>
                        <a href="/cv" class="main-button-slider">Create Now</a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                        <img src="./images/home-banner.gif" class="rounded img-fluid d-block mx-auto" alt="First Vector Graphic" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- / Home -->

    <!-- Services -->
    <section class="section" id="services">
        <div class="container">
            <div class="row">
                <div class="right-image col-lg-6 col-md-12 col-sm-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <img src="./images/home-left.gif" class="rounded img-fluid d-block mx-auto" alt="App" />
                </div>
                <div class="left-text col-lg-6 col-md-12 col-sm-12">
                    <div class="left-heading">
                        <h5>Why does Madarin CV help you get the job you want soon?</h5>
                    </div>
                    <p>Save Time, More Featured, Free PDF Download !</p>
                    <ul>
                        <li>
                            <img src="./images/services.gif" alt="" style="max-height: 50px" />
                            <div class="text">
                                <h6>Step 01</h6>
                                <p>Choose a professional CV design.</p>
                            </div>
                        </li>
                        <li>
                            <img src="./images/services.gif" alt="" style="max-height: 50px" />
                            <div class="text">
                                <h6>Step 02</h6>
                                <p>
                                    Fill in your information according to the suggestions of Madarin CV.
                                </p>
                            </div>
                        </li>
                        <li>
                            <img src="./images/services.gif" alt="" style="max-height: 50px" />
                            <div class="text">
                                <h6>Step 03</h6>
                                <p>Download the free PDF and apply for a job now!</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- / Services -->

    <!-- About -->
    <section class="section" id="about">
        <div class="container">
            <div class="row">
                <div class="owl-carousel">
                    <div class="item about-item">
                        <div class="icon">
                            <i><img src="./images/team-01.gif" alt="" /></i>
                        </div>
                        <h5 class="about-title">Ngô Thanh Phú</h5>
                        <p>Major: Software Engineering</p>
                        <p>Email: work.devweb@gmail.com</p>
                        <a href="https://github.com/peterohu" class="main-button">Know More</a
              >
            </div>
            <div class="item about-item">
              <div class="icon">
                <i><img src="./images/team-02.gif" alt="" /></i>
              </div>
              <h5 class="about-title">Hà Ngọc Mỹ</h5>
              <p>Major: Software Engineering</p>
              <p>Email: ctrls.hangocmy@gmail.com</p>
              <a href="https://github.com/hangocmy" class="main-button"
                >Know More</a
              >
            </div>
            <div class="item about-item">
              <div class="icon">
                <i><img src="./images/team-01.gif" alt="" /></i>
              </div>
              <h5 class="about-title">Nguyễn Huy</h5>
              <p>Major: Software Engineering</p>
              <p>Email: nguyenhuy@gmail.com</p>
              <a href="https://github.com/minhden11hcm" class="main-button"
                >Know More</a
              >
            </div>
            <!-- Page 2 -->
            <div class="item about-item">
              <div class="icon">
                <i><img src="./images/team-01.gif" alt="" /></i>
              </div>
              <h5 class="about-title">Ngô Thanh Phú</h5>
              <p>Major: Software Engineering</p>
              <p>Email: work.devweb@gmail.com</p>
              <a href="https://github.com/peterohu" class="main-button"
                >Know More</a
              >
            </div>
            <div class="item about-item">
              <div class="icon">
                <i><img src="./images/team-02.gif" alt="" /></i>
              </div>
              <h5 class="about-title">Hà Ngọc Mỹ</h5>
              <p>Major: Software Engineering</p>
              <p>Email: ctrls.hangocmy@gmail.com</p>
              <a href="https://github.com/hangocmy" class="main-button"
                >Know More</a
              >
            </div>
            <div class="item about-item">
              <div class="icon">
                <i><img src="./images/team-01.gif" alt="" /></i>
              </div>
              <h5 class="about-title">Nguyễn Huy</h5>
              <p>Major: Software Engineering</p>
              <p>Email: nguyenhuy@gmail.com</p>
              <a href="https://github.com/minhden11hcm" class="main-button"
                >Know More</a
              >
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- / About -->

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <p class="copyright">
              Copyright &copy; 2021 CV Competition. Design:
              <a rel="nofollow" href="">Mandarin Team</a>
                        </p>
                    </div>
                </div>
            </div>
            </footer>
            <!-- / Footer -->

            <!-- Bootstrap - jQuery - Plugin - JS Custom-->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script src="./js/main.js"></script>
</body>

</html>